<!doctype html>
<html>
<head>
  <title>Welcome to <%= shopData.shopName %></title>
  <link rel="stylesheet" href="<%= process.env.BASE_PATH %>/main.css">
</head>
<body>
  <h1>Welcome to <%= shopData.shopName %></h1>

  <p><a href="<%= process.env.BASE_PATH %>/about">About us</a></p>
  <p><a href="<%= process.env.BASE_PATH %>/books/search">Search for books</a></p>
  <p><a href="<%= process.env.BASE_PATH %>/books/list">List all books</a></p>
  <p><a href="<%= process.env.BASE_PATH %>/books/addbook">Add a new book (requires login)</a></p>
  <p><a href="<%= process.env.BASE_PATH %>/books/bargainbooks">Bargain offers (under £20)</a></p>
  <p><a href="<%= process.env.BASE_PATH %>/users/register">Register</a></p>
  <p><a href="<%= process.env.BASE_PATH %>/users/login">Login</a></p>

</body>
</html>
