<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="/about">About <%=shopData.shopName%></a></p>
    <p><a href="/books/search">Search for books in<%=shopData.shopName%> </a></p>
    <p><a href="/books/register">register with <%=shopData.shopName%> </a></p>
    <p><a href="/books/list">Register with <%=shopData.shopName%></a></p>
    <p><a href="/books/addbook">Add new book in<%=shopData.shopName%> </a></p>
    <p><a href="/books/bargainbooks">bergain offer <%=shopData.shopName%></a></p>
  </body>
</html>
