<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Logged in — <%= shopData.shopName %></title>
  <base href="<%= process.env.BASE_PATH %>/">
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <h1>Welcome, <%= first_name %> <%= last_name %>!</h1>
  <p>You are logged in with email: <strong><%= email %></strong></p>

<!-- conditional admin -->
 <% if ( isAdmin === true) { %>
    <p><a href="<%= process.env.BASE_PATH %>/users/list">List users (protected)</a></p>
    <p><a href="<%= process.env.BASE_PATH %>/users/audit">Audit log (protected)</a></p>
  <% } %>


  <!--conditional all user  -->
  <p><a href="<%= process.env.BASE_PATH %>/users/logout">Logout</a></p>
  <p><a href="<%= process.env.BASE_PATH %>/">Back to home</a></p>
</body>
</html>
